<div class="fh5co-narrow-content animate-box">
    <div class="row" >
      <div class="col-md-4 text-center">
        <span class="fh5co-counter js-counter" data-from="0" data-to="45475" data-speed="5000" data-refresh-interval="50"></span>
        <span class="fh5co-counter-label">Nombre de clients</span>
      </div>
      <div class="col-md-4 text-center">
        <span class="fh5co-counter js-counter" data-from="0" data-to="15582" data-speed="5000" data-refresh-interval="50"></span>
        <span class="fh5co-counter-label">Livres achetes</span>
      </div>
      <div class="col-md-4 text-center">
        <span class="fh5co-counter js-counter" data-from="0" data-to="1250" data-speed="5000" data-refresh-interval="50"></span>
        <span class="fh5co-counter-label">Livres internationaux</span>
      </div>
    </div>
  </div>