<div class="fh5co-narrow-content">
    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Nouveautés</h2>

    <div class="fh5co-flex-wrap">
      <div class="fh5co-card animate-box" data-animate-effect="fadeInLeft">
        <h5>Livres internationaux</h5>
        <p>La Formule de Dieu est un roman du journaliste et écrivain portugais José Rodrigues dos Santos. Initialement édité en 2006, il est paru en France le 14 juin 2012, chez HC Éditions.
          
          À la croisée du roman historique et du thriller, avec des éléments de langage relevant de la physique, le récit interprète certaines découvertes scientifiques, notamment dans le domaine de la physique quantique, de manière à répondre à des questions existentielles.
          
          Le roman a été publié en 17 langues et vendu à plus de 2 millions d'exemplaires (selon l'éditeur). Au 26 juillet 2012, il a atteint la 12e place des ventes en France selon Livres-Hebdo1.</p>
        <p><a href="#" class="btn btn-md btn-primary">Savoir plus</a></p>
      </div>
      <div class="fh5co-card animate-box" data-animate-effect="fadeInLeft">
        <h5>Technologie</h5>
        <p>De quoi est fait le livre que vous tenez entre les mains ? L arbre que vous regardez ? L abeille qui vole dans le ciel ? 
          D atomes, bien sûr. Mais qu y a-t-il au-delà ? 
          Pourrait-il exister, dans les grandes profondeurs de notre réalité, très loin au-delà de la matière, quelque chose d autre ? 
          Quelque chose d invisible. D impalpable. D omniprésent. Une sorte de « code secret », issu d un passé immensément lointain, sur lequel reposerait notre Univers tout entier.
          Mais à quoi pourrait donc ressembler ce mystérieux code ? Est-ce lui qui fait que les fleurs des champs ont 3 ou 5 pétales, mais jamais 7 ou 9 ?
          Pour la première fois, des réponses commencent à émerger. Nous allons les trouver au c ur d une énigme mathématique venue du fond des temps. En la découvrant, préparez-vous à vivre la plus grande révolution de notre époque. Et peut-être à donner un nouveau sens à votre vie.</p>
        <p>
          <!--<a href="#" class="btn btn-md btn-primary">Savoir plus</a> -->
        </p>
      </div>

    </div>	
    
  </div>