<div class="fh5co-narrow-content">
  <div class="owl-carousel-fullwidth animate-box" data-animate-effect="fadeInLeft">
        <div class="item">
          <figure>
            <img src="../assets/images/loc.png" alt="Free HTML5 Bootstrap Template">
          </figure>
            <p class="text-center quote">&ldquo;Reading gives us someplace to go when we have to stay where we are. &rdquo; <cite class="author">&mdash; Mason COOLEY</cite></p>
        </div>
        <div class="item">
          <figure>
            <img src="../assets/images/loc.png" alt="Free HTML5 Bootstrap Template">
          </figure>
            <p class="text-center quote">&ldquo;“Sometimes, you read a book and it fills you with this weird evangelical zeal, and you become convinced that the shattered world will never be put back together unless and until all living humans read the book.”  &rdquo;<cite class="author">&mdash; John Green</cite></p>
        </div>
        <div class="item">
          <figure>
            <img src="../assets/images/loc.png" alt="Free HTML5 Bootstrap Template">
          </figure>
            <p class="text-center quote">&ldquo;It is what you read when you don't have to that determines what you will be when you can't help it.” &rdquo;<cite class="author">&mdash; Oscar Wild</cite></p>
        </div>
      </div>
</div>
